<!DOCTYPE html>
<html lang="en">
    <html lang="ru">
        <head>
          <meta charset="utf-8">
          <meta http-equiv="charset" content="utf8">
          <meta http-equiv="content-type" content="text/html;">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://cdn.tailwindcss.com"></script>
          <title>Reset password</title>
        </head>
<body>
    <div class="content">
        <h1 class="text-2xl font-bold">Reset password</h1>
        <form action="http://127.0.0.1:8000/auth/reset-password" method="POST" id="resetForm">
            <input type="hidden" name="token" value="{{token}}">
            <label for="password">
                <input type="password" name="password" id="password" placeholder="Enter new password" required>
            </label>
            <button type="submit">Reset password</button>
        </form>
    </div>
    <script>
      const resetForm = document.getElementById('resetForm');

      resetForm.addEventListener('submit', (event) => {
        event.preventDefault(); // Предотвращаем стандартную отправку формы

        const formData = new FormData(resetForm);
        const jsonData = {};

        for (const [key, value] of formData.entries()) {
          jsonData[key] = value; // Преобразуем данные формы в объект JSON
        }

        fetch(resetForm.action, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(jsonData)
        })
        .then(response => {
          // Обработка ответа от сервера
          console.log(response);
        })
        .catch(error => {
          console.error('Ошибка отправки формы:', error);
        });
      });
    </script>
</body>
</html>
